        <div class="center">
            <div class="page">
                <div class="bread-crumbs">
                    <{widgets id="bread_crumbs"}>
                </div>
                <!-- 结构开始 -->
                    <div class="page-bn">
                       <{img src="./images/desiner-bn.jpg" alt=""}>
                    </div>
                    <!-- designer-list -->
                    <div id="desiner_tab">
                        <ul class="desiner-trigger">
                            <li class="active">空间方案设计师列表</li>
                            <li>空间优化案例页</li>
                        </ul>
                        <div class="desiner-panel">
                            <ul class="clearfix">
                            <{foreach from=$members item=item}>
                                <li>
                                    <a href="<{link app=b2c ctl=site_designer act=personal arg0=$item.member_id}>" class="avatar-pic">
                                        <img src="<{$item.image_default_id|storager:'s'}>" alt="">
                                    </a>
                                    <h4><{$item.name}> <span><{$item.position}></span><a href="#" class="fav" title="收藏">收藏</a></h4>
                                    <a href="<{link app=b2c ctl=site_designer act=personal arg0=$item.member_id}>" class="look">查看设计师简介</a>
                                </li>
                            <{/foreach}>

                            </ul>
                        </div>
                        <div class="desiner-panel" style="display:none;">内容待添加...</div>
                    </div>
                <!-- 结构结束 -->
            </div>
        </div>
