        <div class="center">
            <div class="page">
                <div class="bread-crumbs">
                    <{widgets id="bread_crumbs"}>
                </div>
                <!-- 结构开始 -->
                <div class="works-detail clearfix">
                       <h3 class="nav-name"><span>作品案例</span></h3>
                        <div class="per-inf">
                            <div class="avatar"><img src="<{$detail.image_default_id|storager:'s'}>" alt=""></div>
                            <ul class="inf-list clearfix">
                                <li>姓名：<{$detail.name}></li>
                                <li>认真资质：<{$detail.certification}></li>
                                <li>职位：<{$detail.position}></li>
                                <li>联系方式：<{$detail.contact}></li>
                                <li class="birth">出生点：<{$detail.birth_of_place}></li>
                                <li>擅长风格：<{$detail.adept_style}></li>
                                <li>在线联系:<a href="<{$detail.contact}>" class="online-qq" target="_blank"></a></li>
                            </ul>
                        </div>
                        <div id="works_slide">
                          <div id="imageShow">
                              <ul class="imagebg" id="imagebg">
                                  <{foreach from=$detail.case item=case}>
                                    <li class="bannerbg" data-sPic="<{$case.image_default_id|storager}>">
                                       <img src="<{$case.image_default_id|storager}>" alt="">
                                       <!-- 弹出结构 -->
                                  <{foreach from=$case.goods item=goods}>
                                       <div class="pop-trigger" style="left:<{$goods.x}>px;top:<{$goods.y}>px">
                                           <dl class="pop-info">
                                               <dt>
                                                   <a href="#" class="view-pic" ><img src="<{$goods.info.image_default_id|storager:'s'}>" alt="" style="height:90px;width:110px"></a>
                                                   <div class="price-cont">
                                                       <h4><{$goods.info.name}></h4>
                                                       <span class="pro-price"><{$goods.info.price}></span>
                                                   </div>
                                                   <a href="<{link app=b2c ctl=site_product arg0=$goods.info.products.0.product_id}>" class="detail-btn">查看详情</a>
                                               </dt>
                                               <dd><{$goods.info.brief}></dd>
                                           </dl>
                                       </div>
                                       <{/foreach}>
                                        <!-- 弹出结构 -->
                                    </li>
                                    <{/foreach}>
                              </ul>
                              <div class="scrollbg">
                                <div class="scroll"> 
                                  <a id="left_img_btn" class="s-prev" href="javascript:void(0)"><</a>
                                  <div class="outScroll-pic">
                                    <div class="current" id="current" ></div>
                                    <ul class="scroll-pic cls" id="small_pic">
                                    </ul>
                                  </div>
                                  <a id="right_img_btn" class="s-next" href="javascript:void(0)">></a></div>
                              </div>
                            </div>
                        </div>
                        <!-- works_slide end-->
                </div>
                  <!-- 猜你喜欢 -->
                        <div class="like-title"><span>猜你喜欢</span></div>
                   <!-- 猜你喜欢 end-->
                 <!-- 结构结束 -->
            </div>
        </div>
        <script src="http://wodi-hh.vip.ishopex.cn/themes/hh/images/js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript">var jq=$.noConflict();</script>
        <script src="http://wodi-hh.vip.ishopex.cn/themes/hh/images/js/jquery.imgSlider.js"></script>
        <script>
            (function(){
                $$(".like-list li:last-child").addClass("last");
            })()
             // 滚动区域
             img.init();
              img.play(0);
              function estop(e){
                var e=arguments.callee.caller.arguments[0]||event;
                if (e && e.stopPropagation){
                   e.stopPropagation();
                }else{
                   window.event.cancelBubble = true;
                   return false;
                }
              }
              //图片触点展开
              var trigger = $$(".pop-trigger");
              if(trigger){
                   trigger.addEvents({
                  "mouseenter":function(){
                      this.getElement("dl").setStyle("display","block");
                  },
                  "mouseleave":function(){
                     this.getElement("dl").setStyle("display","none");
                  }
                });
              }
        </script>
