<input type="hidden" value="<{$member_id}>" name="member_id" id="order_member_id" />
<{include file="admin/order/checkout_base.html"}>

<div class="FormWrap">
<div class="section">
<div class="form-title">
    <h5><span>6</span>
    <{t}>门店订单确认<{/t}>
</h5>
</div>
<div class="form-body">
    <div class="division" id='coupon'><{include file="admin/order/coupon.html"}></div>
    <div class="division" id='amountInfo'><{include file="admin/order/checkout_total.html"}></div>
</div>


<div id="hiddenData">
  <{foreach from=$hiddenInput key=key item=item}><input type="hidden" name="<{$key}>" value="<{$item}>"><{/foreach}>
</div>
<div style="display:none"><{input type="checkForm" }></div>
<!--<div class="table-action">
	<{button label="创建订单" type="submit"}>
</div>-->
</div>
</div>
