			<form class="form" action="<{$callback}>" method="post" name="basicloginform">
                <{if $error_info}>
                <div class="tips"><{$error_info}></div>
                <{/if}>
				<div class="account"><input type="text" required="true" autofocus name="uname" id="uname" /></div>
				<div class="password"><input type="password" name="password" id="password" /></div>
                <{if $show_varycode}>
                <div class="verify">验证码: <input type="text" name="verifycode" id="verifycode" maxlength="4" autocomplete="off" />
					<a href="javascript:changeimg('shopadminvocode')" title="点我重新生成验证码"><img id="shopadminvocde" src="<{$desktop_url}>index.php?app=desktop&ctl=passport&act=gen_vcode&<{$smarty.now}>" style="vertical-align: middle;" width="85" height="32"></a></div>
                <{/if}>
				<div class="remember"><label for="remember"><input id="autologin" type="checkbox" <{if $env.cookie.autologin}>checked=true<{/if}> />下次自动登录</label></div>
				<div class="button"><input type="submit" name="" value="" class="submit" /></div>
			</form>

<script>
(function(){

<{if $show_varycode}>
changeimg = function(id){
	var timestamp = Date.parse(new Date());
	document.getElementById('shopadminvocde').src='<{$desktop_url}>index.php?app=desktop&ctl=passport&act=gen_vcode#'+timestamp;

}
<{/if}>

})();
</script>